# https://docs.travis-ci.com/user/reference/windows/
# https://github.com/chocolatey-community/chocolatey-coreteampackages/pull/1278
os: windows
language: c  # "language: csharp" is not yet supported on Travis CI Windows
matrix:
  include:
    - install: choco install mono
      name: choco install mono --> hardcode $PATH
      env: PATH="/c/Program Files/Mono/bin:$PATH"
    #- install: choco install mono
    #  name: choco install mono --> refreshenv
    #  before_script: refreshenv
    #- install: choco install mono
    #  name: choco install mono --> refreshenv.cmd
    #  before_script: refreshenv.cmd
    #- install: choco install mono
    #  name: choco install mono --> refreshenv.cmd --> command mono --version
    #  before_script: refreshenv.cmd
    #  script: command mono --version
    #- install: choco install mono
    #  name: choco install mono --> refreshenv.cmd --> cmd mono --version
    #  before_script: refreshenv.cmd
    #  script: cmd mono --version
    #- install: choco install mono
    #  name: choco install mono --> refreshenv.cmd --> cmd /c mono --version
    #  before_script: refreshenv.cmd
    #  script: cmd /c mono --version
    #- install: choco install mono
    #  name: choco install mono --> cmd /c mono --version
    #  # before_script: refreshenv.cmd
    #  script: cmd /c mono --version
    #- install: choco install mono
    #  name: choco install mono --> refreshenv.cmd --> cmd //c mono --version
    #  before_script: refreshenv.cmd
    #  script: cmd //c mono --version
    #- install: choco install mono
    #  name: choco install mono --> cmd //c mono --version
    #  # before_script: refreshenv.cmd
    #  script: cmd //c mono --version
    #- install: choco install mono
    #  name: choco install mono --> refreshenv.cmd --> cmd \/c mono --version
    #  before_script: refreshenv.cmd
    #  script: cmd \/c mono --version
    #- install: choco install mono
    #  name: choco install mono --> cmd \/c mono --version
    #  # before_script: refreshenv.cmd
    #  script: cmd \/c mono --version
    - script:
      - choco install mono
      - mono --version
    - script:
      - choco install mono
      - refreshenv.cmd
      - mono --version
script:
  - mono --version
